{
    "parserOptions": {
        "ecmaVersion": 2017,
        "sourceType": "module",
    },
    "plugins": ["async-await", "unicorn", "no-loops"],
    "rules": {
        "semi": ["warn", "always"],
	"eqeqeq": "error",
	"no-eval": "error",
	"no-multi-str": "error",
	"no-redeclare": "error",
	"no-useless-return": "error",
	"vars-on-top": "warn",
	"yoda": ["warn", "always"],
	"no-unused-vars": "warn",
	"no-undefined": "error",
	"no-use-before-define": "error",
	"global-require": "warn",
	"no-sync": "warn",
	"camelcase": ["warn", {"properties": "always"}],
	"block-spacing": "warn",
	"func-style": ["error", "declaration", { "allowArrowFunctions": true }],
	"max-len": ["error", 120, {"ignoreTrailingComments": true}],
	"max-nested-callbacks": ["error", 3],
	"max-params": ["error", 5],
	"newline-after-var": ["warn", "always"],
	"no-nested-ternary": "error",
	"space-before-blocks": "warn",
	"arrow-body-style": ["error", "as-needed"],
	"prefer-arrow-callback": "error",
	"prefer-spread": "error",
	"prefer-template": "error",
	"no-console": "warn",
	"no-empty": "error",
	"no-unreachable": "error",
	"dot-location": ["warn", "property"],
	"no-loop-func": "error",
	"no-param-reassign": "error",
	"no-self-compare": "error",
	"require-await": "error",
	"no-trailing-spaces": "error",
	"rest-spread-spacing": ["error", "never"],
	"prefer-rest-params": "error",
	"object-shorthand": ["error", "always", { "avoidQuotes": true }],
	"no-loops/no-loops": "error"
    }
}
