extends layout

block head
  link(rel='stylesheet', href='/css/index.css')

block content
  h1 Index Page
  p Welcome to the <span class="purple"> first page ! </span>
  p Yes this color is ... Deep Purpe !!!
block scripts
  script(src='/js/index.js')