doctype html
html
  head
    title Choose your own title ...
    link(rel='stylesheet', href='/css/common.css')
    block head
  body
    block content
    script(src='/js/common.js')
    block scripts